PORT=3000
GEMINI_API_KEY=your_key_here
EXTENSION_ORIGIN=chrome-extension://your-extension-id-here
# Format must be: chrome-extension://<extension-id>
MONGODB_URI=mongodb://localhost:27017/formbharo
JWT_SECRET=your_jwt_secret_here

